
main {
    display: flex;
    justify-content: center;
    align-content: center;
}

#add_route_form {
    width: 600px;
    background-color: #393e46;
    padding: 1.5rem;
    box-shadow: 5px 5px 5px grey;
}

#add_route_form > textarea {
    width: 400px;
    height: 30px;
    margin: 10px;
    margin-bottom: 1.5rem;
}

input, select, label {
    height: 30px;
    font-size: 20px;
    border-radius: 4px;

}

input {
    margin-bottom: 10px;
}

label {
    margin-right: 8px;
}

#locations > select {
    margin-right: 40px;
    margin-bottom: 20px;
    background-color: white;
}

textarea {
    height: 6em;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}

#locations {
    display: flex;
    justify-content: flex-start;
    margin-right: 1rem;
    align-items: baseline;
}

#textboxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

#properties {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#difficulty {
    margin-bottom: 20px;
    background-color: white;
    margin-right: 0.5rem;
}

.property {
    display: flex;
    width: 100%;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: baseline;
}

.property > input {
    width: 3em;
    margin-right: 1rem;
    margin-bottom: 1.3rem;
}



#add_route_form > label {
    width: 100%;
    height: 30px;
    margin: 0.5rem;
    margin-bottom: 1.5rem;
}

#add_route_form > input {
    width: 100%;
    margin-bottom: 1.5rem;
}


#nav_bar {
    background-color: hsla(0,100%,0%,0.5);
    margin-bottom: 2rem;
    padding: 2rem;
    color: whitesmoke;
}

#submit_div {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}